{% extends "home/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "shop/shop_style.css" %}">
{% endblock %}
{% block head_content %}
    <div class="container-fluid">
        <div class="row   justify-content-center ">
            <div class="col-lg-6 col-sm-12 ">
                <div class="content social-media-field">
                    <div class="social-media-grid" >
                    <h2>Instagram</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                        optio, eaque rerum! Provident ,</p>
                    <a class="btn btn-info" href="#">Follow</a>
                        </div>

                </div>
            </div>
            <div class="col-lg-6 col-sm-12 ">
                <div class="content social-media-field">
                     <div class="social-media-grid" >
                    <h2>Instagram</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                        optio, eaque rerum! Provident similiq</p>
                    <a class="btn btn-info" href="#">Follow</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 ">
                <div class="content social-media-field">
                <div class="social-media-grid" >
                    <h2>Instagram</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                        optio, eaque rerum! Provident similique accusant</p>
                    <a class="btn btn-info" href="#">Follow</a>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}{% endblock %}