{% extends "home/base.html" %}
{% load static %}
{% load my_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static "shop/shop_style.css" %}">
{% endblock %}
{% block head_content %}{% endblock %}
{% block content %}
    <div class="content">
    {% block shop_title %}
    <h2 class="title-not-underline">Order n°{{ order.order_id }}</h2>
    {% endblock %}



        <div class="flex-container-row" style="">
            <div class="flex-container">
                <p class="ml-2">Date : <span class="text-muted ">{{ order.timestamp }}</span></p>
            </div>
            <div class="flex-container" style="flex-grow: 1">
                <div class="flex-container-row">
                    <p class="ml-2">articles : </p>

                    <ul class="list-group" style="flex-grow: 1">
                    {% for key, value in order.items.items %}


                            <li class="list-group-item list-container flex-container-row mt-0 pt-0">
                                <div class=" text-muted small" style="width: 80%">

                                            <p>
                                            {{ value.1 }} x {{ key }}. <a href="{% url "shop-1" page=1 %}?search_input={{ key }}" style="height: 2em;font-size: 10pt;">Click to see more</a>
                                            </p>
                                </div>

                                <div class="text-muted small">
                                            <p>
                                               <span>{{ value.0 }}.-</span>
                                            </p>
                                </div>
                            </li>
                      {% endfor %}
                    <div class="row-f-end overline me-3" style="">
                        <p>Total : {{ order.items|sum_json }}.-</p>
                    </div>
                    </ul>
                </div>
{#            <div class="flex-container">#}
{#                <p>#}
{#                    Price : {{ order.items|sum_json }}#}
{#                </p>#}
{#            </div>#}




     </div>


{% endblock %}
{% block side_bar %}
{% endblock %}